<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="APICommon" version="1.1.1" targetFramework="net461" />
  <package id="Autofac" version="4.2.0" targetFramework="net461" />
  <package id="Fourth.Analytics.Infrastructure.Client.NetFw20" version="1.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
</packages>