<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataloadsContext" connectionString="data source=10.10.10.235\dev;initial catalog=Dataloads;persist security info=True;user id=Dataloads;password=Dataloads;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>